.active {
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #333399;
}

a:hover {
  text-decoration: none;
  color: #333399;
}

a:visited{
  text-decoration: none;
  color: #333399;
}

.sidebar li {
  list-style-type: none;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 36px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 3px solid #333399;
  width: 23%;
  position: fixed;
  top: 0;
  bottom: 0;
  font-family: courier;
}

.intro {
  position: absolute;
  left: 100%;
  width: 310%;
  font-family: courier;
}

.container h1 {
  color: #333399;
}

.avatar {
  float: left;
  width: 450px;
  height: 260px;
  border-radius: 10px;
}

.faq {
  display: flex;
  padding-left: 20px;
  font-family: courier;
}

p{
  text-indent: 50px;
}

.resources {
  width: 40%;
  height: 40%;
  margin-top: 15px;
  margin-left: 15px;
  padding-right: 15px;
}

.relevant-links{
  padding-top: 15px;
  border-top: 3px solid #333399;
  color: #333399;
  display: flex;
  justify-content: center;

}

.youtube {
  visibility: hidden;
}
